<h1>Create A Superpower!</h1>

<%= form_for @power do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :description %>
  <%= f.text_field :description %><br><br>
  <%= f.submit %>
<% end %>
