<h1> Details for <%= @power.name %> </h1>
<br>
Power Name: <%= @power.name %>
<br>
Power Description: <%= @power.description %>
<br>
<br>
<%= link_to "See All Powers", powers_path %>
<br>
<%= link_to "See All Heroines", heroines_path %>
