<h1>Update Your Heroine!</h1>

<fieldset>
  <legend>Enter Name, Super Name and Power!</legend>
  <%= form_with model: @heroine do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>
  <%= f.label :super_name %>
  <%= f.text_field :super_name %> <br>
  <%= f.label :power %>
  <%= f.collection_select :power_id, Power.all, :id, :name %> <br>
  <%= f.submit %>
  <% end %>
</fieldset>
