<h2>All Heroines</h2>

<br>
<%= form_tag heroines_path, method: :get, id: "search-form" do %>
  <b><%= label_tag :power, "Search by Superpower:" %></b>
  <br>
  <%= text_field_tag :power, params[:search] %>
  <%= submit_tag 'Search' %>
<% end %>
<br>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
