<h2>All Heroines</h2>
<hr>
<hr>
<%= link_to "Create a new heroine!", new_heroine_path %>

<br><br>


<!-- BONUS START -->

<%= form_tag(heroines_path, method: 'get') do %>

  <%= label_tag :search, "Search by Superpower: " %>
  <%= text_field_tag :search, params[:search], placeholder: "power name" %>

  <%= submit_tag "Search" %>
<% end %>

<% if @heroines.blank? %>
  <h4>There are no heroines matching your search.</h4>
  <%= link_to "Go Back", heroines_path %>
<% end %>

<hr>
<!-- BONUS END -->


<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>
