<h1>New Heroines</h1>

<%= form_for @heroine do |f| %>
<%= f.label "Insert a name:" %>
<%= f.text_field :name %><br />
<%= f.label "Insert a Super Name:" %>
<%= f.text_field :super_name %><br />
<%= f.label "Pick a Superpower:" %>
<%= f.collection_select :power_id, Power.all, :id, :name%><br />
  <%= f.submit %>
<% end %>
