<h2>Create Your Heroine</h2>

<%= form_for @heroine do |f|%>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>
  <%= f.label :super_name %><br>
  <%= f.text_field :super_name %><br><br>
  <%= f.collection_select :power_id, @powers, :id, :name %>

  <%= f.submit 'Create Heroine' %>
<% end %>
